body {
    background-color: rgb(131, 131, 131);
    margin: 0;
}

main {
    background-color: rgb(255, 255, 255);
    max-width: 960px;
    min-height: 1200px;
    width: 100%;
    margin: auto;
}

.container {
    min-height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: flex-start;
    align-items: stretch;
}

.container > * {
    width: 100%;
    flex-shrink: 0;
}

.container2 {
    height: 1000px;
    width: 100px;
    margin-left: 305px;
    margin-top: -600px;
    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
    align-items: flex-start;
    background-color: white;
}

section.container > img {
    display: block;
    width: 295px;
    margin: 0 0 38px;
}

section.info {
    margin-top: -40px;
    background-color: rgb(49, 49, 49);
    width: 294px;
    height: 30px;
    border: 2px solid rgb(40, 40, 40);
    padding: 1px;
}

section.info > p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-top: 5px;
}

section.perfil {
    margin-top: 170px;
    background-color: rgb(49, 49, 49);
    width: 294px;
    height: 30px;
    border: 2px solid rgb(40, 40, 40);
    padding: 1px;
}

section.perfil > p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-top: 5px;
}

div.frases {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 8px;
    font-size: 1em;
}

section.education {
    background-color: rgb(49, 49, 49);
    width: 294px;
    height: 35px;
    border: 2px solid rgb(40, 40, 40);
    padding: 1px;
    margin-top: 180px;
}

section.education > p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-top: 10px;
}

section.expe {
    height: 50px;
    width: 650px;
    margin-top: -20px;
    background-color: white;
}

section.expe > p {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.3em;
    margin-top: 15px;
    padding: 13px;
    background-color: rgb(234, 234, 234);
}

div.frases1 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 645px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}

div.frases2 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 645px;
    margin-top: -15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}

div.frases3 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 645px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}

div.frases4 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 645px;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 10px;
}

h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(76, 76, 76);
}

div.name {
    margin-left: 320px;
    height: 0;
}

div.name > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.8em;
    padding: 25px;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.info a {
    color: rgb(125, 125, 187);
}

a:hover {
    color: aliceblue;
    text-decoration: underline;
    transition: color 0.3s ease;
}

footer {
    text-align: center;
}

@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    main {
        width: 100%;
        min-height: auto;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .container {
        width: 100%;
        min-height: auto;
        align-items: center;
    }

    section.container > img {
        width: 120%;
        max-width: 355px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    section.info {
        width: 95%;
        margin-top: 0px;
        margin-bottom: 150px;
    }
     section.perfil {
        width: 95%;
        margin-top: 30px;
        margin-bottom: 90px;
    }
    section.education {
        width: 95%;
        margin-top: 60px;
        margin-bottom: 280px;
    }

    .container2 {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 30px;
        padding: 10px;
        align-items: stretch;
    }

    div.name {
        margin-left: 0;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    div.name > h1 {
        font-size: 2em;
        padding: 10px 0;
    }

    section.expe {
        width: 100%;
        margin-top: 15px;
    }

    section.expe > p {
        margin: 0;
        font-size: 1.1em;
        padding: 10px;
    }

    div.frases1,
    div.frases2,
    div.frases3,
    div.frases4 {
        width: 100%;
        height: auto;
        margin-top: 15px;
        padding: 8px;
        box-sizing: border-box;
    }
}
