body {
    background-color: rgb(131, 131, 131);
    margin: 0;
}

main {
    background-color: rgb(255, 255, 255);
    max-width: 960px;
    min-height: 1200px;
    width: 100%;
    margin: auto;
}

.container {
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-evenly;
    align-items: stretch;
}

section.container:first-of-type, 
.sidebar, 
aside { 
    background-color: black;
    height: auto !important;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container > * {
    width: 100%;
    flex-shrink: 0;
}

.container2 {
    height: 1000px;
    width: 100px;
    margin-left: 305px;
    margin-top: -600px;
    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
    align-items: flex-start;
    background-color: white;
}

section.container > img {
    display: block;
    width: 295px;
    margin: 0 0 38px;
}

section.info {
    margin-top: -65px;
    background-color: rgb(49, 49, 49);
    width: 294px;
    height: 30px;
    border: 2px solid rgb(40, 40, 40);
    padding: 1px;
}

section.info > p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-bottom: -10px;
}

section.perfil {
    margin-top: 170px;
    background-color: rgb(49, 49, 49);
    width: 294px;
    height: 30px;
    border: 2px solid rgb(40, 40, 40);
    padding: 1px;
}

section.perfil > p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-top: 5px;
}

div.frases {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 8px;
    font-size: 1em;
}

section.education {
    background-color: rgb(49, 49, 49);
    width: 294px;
    height: 35px;
    border: 2px solid rgb(40, 40, 40);
    padding: 1px;
    margin-top: 180px;
}

section.education > p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-top: 10px;
}

section.expe {
    height: 50px;
    width: 650px;
    margin-top: -20px;
    background-color: white;
}

section.expe > p {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.3em;
    margin-top: 15px;
    padding: 13px;
    background-color: rgb(234, 234, 234);
}

div.frases1 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 645px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}

div.frases2 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 645px;
    margin-top: -15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}

div.frases3 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 645px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}

div.frases4 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 645px;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 10px;
}

h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(76, 76, 76);
}

div.name {
    text-align: center;
    height: 0;
}

div.name > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2em;
    padding: 95px;
    margin-left: 300px;

}

a {
    color: aliceblue;
    text-decoration: none;
}

.info a {
    color: rgb(125, 125, 187);
}

a:hover {
    color: aliceblue;
    text-decoration: underline;
    transition: color 0.3s ease;
}

footer {
    text-align: center;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    main {
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }

    .container, .container2 {
        display: flex;
        flex-direction: column !important;
        width: 100% !important;
        height: auto !important;
        margin: 0 !important;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }

    div.name {
        width: 100%;
        height: 100px !important;
        margin: 0 !important;
        padding: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    div.name > h1 {
        width: 100%;
        font-size: 1.3em;
        text-align: center;
        margin: 0;
        
    }

    section.container > img {
        width: 100%;
        max-width: 350px;
        height: auto;
        margin: 10px auto;
        display: block;
        position: static;
    }

    section.info,
    section.perfil,
    section.education,
    section.expe,
    div.frases1,
    div.frases2,
    div.frases3,
    div.frases4 {
        width: 90% !important;
        height: auto !important;
        min-height: 0 !important;
        margin: 10px auto !important;
        padding: 15px !important;
        position: static !important;
        display: block;
        box-sizing: border-box;
        text-align: center;
    }

    section h2, .info h2, .perfil h2, .education h2, .expe h2 {
        margin: 0 0 10px 0;
        padding: 5px;
        position: static;
    }

    p, li {
        margin: 5px 0;
        line-height: 1.4;
    }

    section.expe ul {
        display: inline-block;
        text-align: left;
        padding-left: 20px;
        margin: 0 auto;
    }
}